<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyx.njtech.edu.cn.diligentnode" >

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity"
            android:theme="@style/FullWindows">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GuideActivity" android:theme="@style/FullWindows"/>
        <activity android:name=".AddScheduleActivity"/>
        <activity android:name=".alarmsetactivity.SetRePlayActivity"/>
        <activity android:name="xyx.njtech.edu.cn.diligentnode.alarmsetactivity.SetAlarmTimeActivity"/>
        <activity android:name="xyx.njtech.edu.cn.diligentnode.alarmsetactivity.SetLocalActivity"/>
        <activity android:name="xyx.njtech.edu.cn.diligentnode.alarmsetactivity.SetColorActivity"/>
        <activity android:name="xyx.njtech.edu.cn.diligentnode.alarmsetactivity.SetAlarmToneActivity"/>
        <activity android:name=".ScheduleDetailActivity"/>
        <activity android:name="xyx.njtech.edu.cn.diligentnode.AlarmRemindActivity"/>
        <activity android:name=".NewActivity"/>
        <activity android:name=".NoteMainActivity"/>
        <activity android:name=".WeatherMainActivity"/>
        <activity android:name=".WeatherActivity"/>
        <activity android:name=".NoteDetailActivity"/>
        <activity android:name=".pager.AboutMeActivity"/>
        <activity android:name=".lock.verification.LockActivity"/>
        <activity android:name=".lock.modification.LockModificationActivity"/>
        <activity android:name=".setting.main.SettingMainActivity"/>
        <activity android:name=".setting.lock.LockSettingActivity">
            <intent-filter>
                <action android:name="xyx.njtech.edu.cn.diligentnode.LOCK_SETTING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="xyx.njtech.edu.cn.diligentnode.alarmremind.AlarmService"
            android:process="xyx.njtech.edu.cn.diligentnode.serviceProcess"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
        </service>

        <receiver android:name="xyx.njtech.edu.cn.diligentnode.alarmremind.AlarmServiceBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="xyx.njtech.edu.cn.diligentnode.alarmremind.AlarmAlertBroadcastReceiver">
        </receiver>

        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.AutoUpdateService"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
